@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  @apply bg-amber-50 dark:bg-amber-950;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}

@layer base {
  :root {
    --background: 48 100% 96%;
    --foreground: 21 92% 14%;
    --card: 21 50% 90%;
    --card-foreground: 21 5% 15%;
    --popover: 21 100% 95%;
    --popover-foreground: 21 100% 10%;
    --primary: 161 93.5% 30.4%;
    --primary-foreground: 0 0% 100%;
    --secondary: 48 30% 87%;
    --secondary-foreground: 0 0% 0%;
    --muted: -17 30% 85%;
    --muted-foreground: 21 5% 40%;
    --accent: -17 30% 84%;
    --accent-foreground: 21 5% 15%;
    --destructive: 0 100% 50%;
    --destructive-foreground: 21 5% 90%;
    --border: 21 30% 82%;
    --input: 21 30% 50%;
    --ring: 21 91.7% 14.1%;
    --radius: 1rem;
  }
  .dark {
    --background: 21 92% 10%;
    --foreground: 24 5% 90%;
    --card: 24 50% 0%;
    --card-foreground: 24 5% 90%;
    --popover: 24 50% 5%;
    --popover-foreground: 24 5% 90%;
    --primary: 161 93.5% 30.4%;
    --primary-foreground: 0 0% 100%;
    --secondary: 48 30% 20%;
    --secondary-foreground: 0 0% 100%;
    --muted: -14 30% 15%;
    --muted-foreground: 24 5% 60%;
    --accent: -14 30% 15%;
    --accent-foreground: 24 5% 90%;
    --destructive: 0 100% 30%;
    --destructive-foreground: 24 5% 90%;
    --border: 24 30% 18%;
    --input: 24 30% 18%;
    --ring: 24 9.8% 10%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply leading-relaxed tracking-tight;
  }
  p {
    @apply leading-relaxed;
  }
}

@layer components {
  .container-content {
    @apply mx-auto max-w-screen-2xl;
  }
}

@layer utilities {
  .hover-opacity {
    @apply transition hover:opacity-75;
  }
}
